<head>
    <title> Wyatt Elliott Designs</title>
</head>
<body>
<!-- Navigation -->

<nav class="navbar navbar-inverse navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="https://github.com/wyattwade">Wyatt Elliott</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- header -->
 <a name="home"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        Wyatt Elliott Designs
                        <hr class="intro-divider">
                         <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://github.com/wyattwade" target="_blank" class="btn btn-default btn-lg "> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/pub/wyatt-elliott/74/264/32a" target="_blank" class="btn btn-default btn-lg"> <span class="network-name">Linkedin</span></a>
                            </li>
                             <li>
                                <a href="https://twitter.com/Ferreir4Thiago" target="_blank" class="btn btn-default btn-lg"><span class="network-name">Twitter</span></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
<!-- page content -->


<div class="forest-medium-space"> 
</div>


 <a name="about"></a>




<div class="page-content" > 
    <div class= "col-lg-offset-3 col-lg-6  about-us"> 
        <p class= "about-us"> 
           <h1>Let's bring your ideas </h1> <p class= "big"> to life.</p> 
            <p class ="p-space">We are self taught web designer, musician, and entrepreneur based in Santa Monica California. My team
            and I gain insight on leading design using our experience travelling and meetin others as inspiration. The world is a beautiful place, and our mission is to articulate our experience using modern design. 
            </p>
            <h1>Contact me 
        
        <hr class="hr2">
        
        WyattElliott27@gmail.com </h1>
        
        
        <!--     <div class="col-lg-offset-1 col-lg-4" >
    <img id="serenepic" src="assets/kewl.jpg">    -->
        </p>
    </div>
  
 
</div>

<div class="mountain-medium-space"> 

 <a name="portfolio"></a>

    <div class="col-lg-12 mywork"> My Latest Work</div>
        <div class="container"></div>
             <div class="row">
                 <div class= "col-md-offset-2 col-md-4">
                      <h4 style="text-align: center">TheSampleBook</h4>
                        <p style="text-align: center" ><i>AWS + Paperclip jpg & mp3 </i></p>
                         <a href="https://thesamplebook.herokuapp.com/"  target="_blank" data-toggle="modal">
                     <img  class="portfolio" src="assets/a.png"> 
                     </a>
                 </div>
               
                 
             </div>    
</div>
    